{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
    <h1>Flask MVC</h1>
    <p>This is a boileplate flask application which follows the MVC pattern for structuring the project.</p>
    <head>
        <!-- Include Editor style. -->
        <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
        
        </head>
        <body>
                <!-- Create a tag that we will use as the editable area. -->
                <!-- You can use a div tag as well. -->
                <div id="editor"></div>
                
                <!-- Include Editor JS files. -->
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
                
                <!-- Initialize the editor. -->
                <script>
                  var editor = new FroalaEditor('#editor', {
                      saveInterval: 2500,
                      saveParam: 'content',
                      saveURL: 'http://localhost:8080/save',
                      saveMethod: 'POST',
                      saveParams: {
                          'userID': "xxx"
                      },
                      events: {
                          'save.error': function(error, response) {
                            console.log(error);
                          },
                          'image.error': function (error, response) {
                              // Bad link.
                              if (error.code == 1) {

                              }

                            // No link in upload response.
                            else if(error.code == 2) {  }

                            // Error during image upload.
                            else if (error.code == 3) {  }

                            // Parsing response failed.
                            else if (error.code == 4) {  }

                            // Image too text-large.
                            else if (error.code == 5) {  }

                            // Invalid image type.
                            else if (error.code == 6) {  }

                            // Image can be uploaded only to same domain in IE 8 and IE 9.
                            else if (error.code == 7) {  }

                      }
                    },

                      imageUploadParam: 'image_param',
                      imageUploadURL: '/upload_froala_image',
                      imageUploadMethod: 'POST'
                  }, () => {
                  })
                </script>
        
            </body>
{% endblock %}