{% extends "layout.html" %}
{% block title %}CornHub{% endblock %}
{% block page %}CornHub{% endblock %}

{{ super() }}

{% block content %}

<!-- listings contains all listings in the database -->
<!-- {{listings}} -->



    <div class="content-wrapper">
      <div class = "store-panel">
        {% for listing in listings %}
          <a href="../listing/{{listing['id']}}">
            <span class="name">{{listing['name']}}</span>
          </a>
        {% endfor %}
      </div>
    </div>
{% endblock %}
