{% extends "layout.html" %}
{% block title %}Listing{% endblock %}
{% block page %}{{current_user.shopName}}{% endblock %}

{{ super() }}

{% block content %}
{{listing}}

<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
    type="text/css" />

<div class="editor">{{listing['html']|safe}}</div>

<!-- {{listing['html']|safe}} -->

<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>


<script>
    var editor = new FroalaEditor('.editor', {
        saveInterval: 2500,
        saveParam: 'html',
        saveURL: 'http://localhost:8080/savelistinghtml',
        saveMethod: 'PUT',
        saveParams: {
            'id': '{{listing.id}}',
            'farmerID': '{{listing.farmerID}}',
            'name': '{{listing.name}}'
        },
        dragInLine: true,
        events: {
            'save.error': function (error, response) {
                console.log(error);
            },
            'image.error': function (error, response) {
                // Bad link.
                if (error.code == 1) {

                }

                // No link in upload response.
                else if (error.code == 2) { }

                // Error during image upload.
                else if (error.code == 3) { }

                // Parsing response failed.
                else if (error.code == 4) { }

                // Image too text-large.
                else if (error.code == 5) { }

                // Invalid image type.
                else if (error.code == 6) { }

                // Image can be uploaded only to same domain in IE 8 and IE 9.
                else if (error.code == 7) { }

            }
        },

        imageUploadParam: 'image_param',
        imageUploadURL: 'http://localhost:8080/savelistinghtml',
        imageUploadMethod: 'PUT'
    }, () => {
        // safe tag prevents automatic escaping done by jinja
        // editor.html.set('{{listing["html"]|safe}}')
        '{% if not current_user.is_authenticated or not listing.farmerID == current_user.id%}'
            editor.edit.off()
        '{% endif %}'
    })
    </script>

{% endblock %}