{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}



{% block content %}

    <!-- <input type="button" onclick="login()"> -->

    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    {%endif%}
    {%endwith%} -->

    {% if current_user.is_authenticated %}
        Hi {{ current_user.toDict() }}
    {% else %}
       
    {% endif %}
    
    
    <!DOCTYPE html> 
    <head>
        <meta charset="utf-8">
        <title>Login Page</title> 
        <link rel="stylesheet" href="loginStyle.css">
    </head>  
    
    <body>
        <div class="center">
            <h1>Login</h1>
            <form action="/login" method="post">
                <div class="txt_fld">
                    <input type="text" id="username" name="username" required class="white-text" value="bob">
                    <span></span>
                    <label>Enter Username</label>
                </div>
                <div class="txt_fld">
                    <input type="password" id="password" name="password" required class="white-text" value="bobpass">
                    <span></span>
                    <label>Enter Password</label>
                </div>
                <div class="pass">Forget Password?</div>
                <input type="Submit" value="Login" class="btn orange darken-4">
                <div class="signup_link">
                    Don't have an account? <a href="/signup">Signup</a>

                </div>
            </form>
        </div>
    </body>
    

{% endblock %} 