{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}

    <!-- <input type="button" onclick="login()"> -->

    {% if current_user.is_authenticated %}
        Hi {{ current_user.toDict() }}
    {% else %}
        <!-- <script type="text/javascript">
            function login() {
                fetch("/login", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'username': 'bob',
                        'password': 'bobpass'
                    })
                })
                .then(data => {
                    console.log(data)
                })
                .catch(e => {
                    console.log(e)
                })
            }
            login()
        </script> -->
    {% endif %}
    
    <!--<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title> 
        <link rel="stylesheet" href="loginStyle.css">
    </head> -->
    
    <body>
        <div class="center">
            <h1>Login</h1>
            <form action="/login" method="post">
                <div class="txt_fld">
                    <input type="text" id="username" name="username" required>
                    <span></span>
                    <label>Enter Username</label>
                </div>
                <div class="txt_fld">
                    <input type="password" id="password" name="password" required>
                    <span></span>
                    <label>Enter Password</label>
                </div>
                <div class="pass">Forget Password?</div>
                <input type="Submit" value="Login">
                <div class="signup_link">
                    Don't have an account? <a href="#">Signup</a>

                </div>
            </form>
        </div>
    </body>
    

{% endblock %}