<!-- temporary file -->
{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block page %}{{profile.shopName}}{% endblock %}

{{ super() }}

{% block content %}
<body>

<div class="container section1" style=" display:grid; min-width: 100%;">
  <div class="section" style="background:linear-gradient(180deg,#ffd54f  ,#e65100); width: 100%;">
    <div class="row center" style="height:300px; width: 25%;">
      <div>
        <div class="white-text"><img class="responsive-img circle" src="/{{profile.profilePic}}"></div>
      </div>

      <div class="divider"></div>

      <div class="row center">
        <div class="col s6 white-text"><b>username</b>:</div>
        <div class="col s6 white-text"><b>{{profile.username}}</b></div>
      </div>

      <div class="row center">
        <div class="col s6 white-text"><b>shopname</b>:</div>
        <div class="col s6 white-text"><b>{{profile.shopName}}</b></div>
      </div>

      <div class="row center">
        <div class="col s6 white-text"><b>contact</b>:</div>
        <div class="col s6 white-text"><b>{{profile.contact}}</b></div>
      </div>

      <div class="row center">
        <div class="col s6 white-text"><b>location</b>:</div>
        <div class="col s6 white-text"><b>{{profile.location}}</b></div>
      </div>

      {% if current_user.is_authenticated and current_user.id == profile.id %}
      <div class="row center">
        <a class="col s12 white-text" href="/edit"><i class="material-icons"> edit</i></a>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <span class="row white-text">
    <p style="font-size:40px; font-style: oblique;"> Your Listings </p>
  </span>
  <div class="row center">
    <a class="col s12 white-text" href="/listing"><i class="material-icons">add</i></a>
  </div>
  {% endif %}
</div>


<div class="row" style="width: 90%; font-style: oblique;">
  {% for ele in data %}
  <div class="col s12 m6">
    <div class="card hoverable" style="max-width: 100vw; border-radius: 10pt; background-color: #e65100;">
      <div class="card-image truncate">
        {{ele.listing['html']|safe}}
      </div>
      <div class="card-action black container" style="width: 100%; border-bottom-left-radius: 5pt; border-bottom-right-radius: 5pt;">
        <div class="row">
          <a href="../listing/{{ele.listing['id']}}">{{ele.listing['name']}}</a>
          <a href="../profile?id={{ele.farmer['id']}}">{{ele.farmer['shopName']}}</a>
          <a href="../listing/{{ele.listing['id']}}" class="right btn-floating waves-effect waves-light red">
            <i class="material-icons">edit</i>
          </a>
          <button class="right btn-floating waves-effect waves-light red" onclick="deleteListing(`{{ele.listing['id']}}`)">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


</body>

{% endblock %}