{% extends "layout.html" %}
{% block title %}SignUp{% endblock %}
{% block page %}CornHub{% endblock %}

{{ super() }}

{% block content %}

    <body>
        <div class="center">
            <h1>Registration</h1>
            <form action='/signup' method="post" enctype="multipart/form-data">
                <div class="txt_fld">
                    <input type="text" id="username" name="username" required class="white-text center-align">
                    <span></span>
                    <label>Create  Username</label>
                </div>

                <div class="txt_fld">
                    <input type="password" id="password" name="password" required class="white-text center-align">
                    <span></span>
                    <label>Create Password</label>
                </div>

                <div class="txt_fld">
                    <input type="text" id="shopName" name="shopName" required class="white-text center-align">
                    <span></span>
                    <label>Enter Store Name</label>
                </div>

                <div class="txt_fld">
                    <input type="tel" id="contact" name="contact" required class="white-text center-align">
                    <span></span>
                    <label>Enter Phone Number (eg. 18683161135)</label>
                </div>
                
                <div class="txt_fld">
                    <input type="text" id="location" name="location" required class="white-text center-align">
                    <span></span>
                    <label>Enter Address</label>
                </div>
                

                <div class="txt_fld">
                    <div class="row">
                    <input type="file" id="image" name="image">
                    </div>
                    <label for="image" class="row">Upload Profile Picture</label>
                </div>
                

                <!-- <div class="pass">Forget Password?</div> -->
                <input type="Submit" value="signup" class="btn orange darken-4 row">
                <div class="signup_link">
                    Back to login <a href="/login">Login</a>

                </div>
            </form>
        </div>
    </body>

{% endblock %}